body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: greenyellow;
    color: darkred;
    margin: 2em;
    margin-bottom: 3%;
    padding: 0.65em;
    overflow: auto;
}
.wrap {
    flex-wrap: wrap;
}
.around {
    justify-content: space-around;
}
.center {
    align-items: center;
}
.imagen {
    min-height: 3em;
    width: 65%;
}
.row {
    display: flex;
    flex-direction: row;
}
.big {
    display: flex;
    flex-grow: 5;
}
.small {
    display: flex;
    flex-grow: 2;
}
.h25 {
    max-height: 12em;
    max-width: fit-content;
}
.column {
    display: flex;
    flex-direction: column;
}
table {
    margin-top: 5%;
    margin-bottom: 5%;
}